
@charset-UTF-8;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Crimson+Text&family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gemunu+Libre:wght@300&family=Noto+Sans+Mono:wght@600&display=swap');

body{
    margin: auto;
    padding: auto;
    font: normal 'Alkalami', serif;
    background: url(../imagens/vermelho.png) no-repeat center;
    background-size: cover;
    width: 700px;
}

nav{
    text-align: right;
    padding: 1em;
    color: black;
}

nav a:visited{
    color: black;
}

nav a:hover{
    background-color: rgb(180, 180, 180);
}

nav a:link{
    text-decoration: none;
}

main {
    background: url(../imagens/branco.jpg) no-repeat center;
    background-size: cover;
    margin: auto;
    padding: auto;
    font: 1.3em 'Gemunu Libre', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 700px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.701);
    box-shadow: 5px 5px 5px #00000097; 
    line-height: 1.5em;
}

main h1{
    font: 1.1em 'Crimson Text', 'Times New Roman', Times, serif ;
    margin: 0%;
    color: rgb(77, 24, 3);
    padding-bottom: 2em;
    padding-top: 1em;
}

.destaque{
    color: darkgreen;
}

main h3{
    margin: 0%;
    font: 1em 'Crimson Text', 'Times New Roman', Times, serif ;
    color: rgb(71, 1, 1);
}


article ul{
    list-style-type: none;
    text-align: justify;
    font-size: .9em;
}

.colunas{
    columns: 2;
    column-rule-style: solid;
    column-rule-color: black;
    width: 160px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.colunas1{
    columns: 2;
    column-rule-style: solid;
    column-rule-color: black;
    width: 600px;
    padding-left: 40px;
    padding-bottom: 20px;
}

footer {
    background-image: url(../imagens/preto.jfif);
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}

footer a:link{
    text-decoration: none;
    color: rgb(183, 143, 126);
}

footer a:visited{
    text-decoration: overline;
    color: rgb(184, 138, 120);
}

footer a:hover{
    background-color: none;
    color: rgb(183, 143, 126);
}

img.social{
    width: 20px;
}

img.social:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
}