/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #3b4a6b;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos dos Formulários */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: none;
}

.form-container.login {
    display: block; /* Mostrar o formulário de login por padrão */
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #3b4a6b;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccd6e0;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #3b4a6b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #2e3a57;
}

/* Estilos para a alternância entre login e cadastro */
.toggle {
    text-align: center;
    margin-top: 10px;
}

.toggle a {
    color: #3b4a6b;
    text-decoration: none;
    font-weight: bold;
}

.toggle a:hover {
    text-decoration: underline;
}

/* Esconder formulário de cadastro por padrão */
.hidden {
    display: none;
}