@charset "UTF-8";

@media print{
    nav{
        display: none;
    }


    main{
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }


    footer{
        display: none;
    }
    
    .fonte{
        display: none;
    }
}

@media screen  and (min-width: 481px) and (max-width: 768px) {

}

@media screen  and (min-width: 769px) and (max-width: 1024px) {

}

@media screen  and (min-width: 1025px) {
    main{
        width: 700px;
    }

}