
@charset-UTF-8;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Crimson+Text&family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gemunu+Libre:wght@300&family=Noto+Sans+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Noto+Sans+Mono:wght@600&display=swap');

body{
    margin: auto;
    padding: auto;
    font: normal 'Source Sans Pro', Verdana, Tahoma, sans-serif;
    background: url(imagem/vermelho.png) no-repeat center;
    background-size: cover;
    width: 700px;
    background-attachment: fixed;

}

nav{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    padding: 10px;
    margin: 1em 0em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #0000007a;
}

nav a {
    text-decoration: none;
    color: white;
    padding-right: 1.2em;
}


a:hover {
    text-decoration: solid;
    background-color: rgba(0, 0, 0, 0.041);
    color: rgb(121, 121, 121);
    transition: 0.5s;
    margin: ;
}

main {
    max-width: 1000px;
    min-width: 320px;
    background-image: url(imagem/branco\ novo.jpg);
    background-size: cover;
    margin: auto;
    font: 1.3em 'Gemunu Libre', Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.701);
    box-shadow: 5px 5px 5px #00000097; 
    line-height: 1.5em;
}

main h1{
    font: 1.5em 'Crimson Text', 'Times New Roman', Times, serif;
    margin: 0%;
    color: rgb(77, 24, 3);
}

main h2{
    margin: 0%;
    font: 1em 'Crimson Text', 'Times New Roman', Times, serif ;
    color: rgb(71, 1, 1);
}

main h3{
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace;
    font-size: 1.1em;
    color: rgb(41, 0, 0);
    margin: 0%;
}

main img{
    width: 100%;
}

article p{
    text-align: justify;
    text-indent: 16px;
    padding: 0.5em;
    margin: 0em;   
}

#lista{
    color: rgb(0, 0, 0);
    font: 1em 'Noto Sans Mono','Courier New', Courier, monospace;
    margin-left: 2em;
    text-align: justify;
    list-style-type: none;
    width: 500px;
    line-height: 1.5em;
}

.importante{
    color: rgb(0, 0, 0);
    font-size: 1.2em; 
}

strong{
    font-style: italic;
}

aside a{
    text-align: center;
    color: black;
}

div.video{
    position: relative;
    padding-bottom: 80%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90% ;
    height:70% ;
}

footer {
    background-image: url(imagem/preto.jfif);
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
}

footer a:link{
    text-decoration: none;
    color: rgb(183, 143, 126);
}

footer a:visited{
    text-decoration: overline;
    color: rgb(184, 138, 120);
}

footer a:hover{
    background-color: none;
    color: rgb(183, 143, 126);
}

img.social{
    width: 20px;
}

img.social:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
}
